@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Goblin+One&display=swap');

html {
    font-size: 100%;
    line-height: 1.5;
}

body {
    background-color: #f8f8f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: #222;
}

body.nav-menu-active {
    overflow: hidden;
}

main {
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Goblin One', serif;
    line-height: 1.1;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 1rem;
    font-family: "Aguafina Script", cursive;
    font-size: 3rem;

}

h3 {
    font-family: 'Goblin One', serif;
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p, ul, ol {
    font-size: 1.2rem;
}

a { 
    text-decoration: none;
    color: #BA2D0B; /* BA2D0B */
    font-weight: bold;
    font-style: italic;
}

a:hover,
a:focus {
    color: #670000;
    text-decoration: underline;
}

a, img, svg, .btn {
    transition: .2s ease-in-out;
}

.cursive {
    font-family: "Aguafina Script", cursive;
}

.inverse {
    background: hsla(0, 0%, 7%, 1);
    background: linear-gradient(135deg, hsla(0, 0%, 7%, 1) 0%, hsla(0, 0%, 13%, 1) 51%, hsla(0, 0%, 7%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(0, 0%, 7%, 1) 0%, hsla(0, 0%, 13%, 1) 51%, hsla(0, 0%, 7%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 7%, 1) 0%, hsla(0, 0%, 13%, 1) 51%, hsla(0, 0%, 7%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#222222", GradientType=1 );
    color: #fafafa;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bordered {
    position: relative;
}

.bordered:before {
    content: '';
    position: absolute;
    top: -.333rem;
    bottom: -.333rem;
    left: -.333rem;
    right: -.333rem;
    border: .0625rem solid #111;
}

.colored-bg {
    background: hsla(104, 100%, 5%, 1);
    background: linear-gradient(135deg, hsla(104, 100%, 5%, 1) 0%, hsla(104, 97%, 14%, 1) 50%, hsla(104, 100%, 5%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(104, 100%, 5%, 1) 0%, hsla(104, 97%, 14%, 1) 50%, hsla(104, 100%, 5%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(104, 100%, 5%, 1) 0%, hsla(104, 97%, 14%, 1) 50%, hsla(104, 100%, 5%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#071B00", endColorstr="#134601", GradientType=1 );
    padding: .25rem 0;
}

.btn {
    margin: 0;
    background-color: #BA2D0B;
    border: .0625rem solid #BA2D0B;
    padding: .3rem .75rem;
    cursor: pointer;
    color: #fafafa;
    display: inline-block;
    font-family: 'Goblin One', cursive;
    font-style: normal;
    line-height: 1.2;
    max-width: 18.75rem;
}

.btn:hover,
.btn:focus {
    background: #670000;
    color: #fafafa;
    border-color: #670000;
    text-decoration: none;
}

/* Layout */

.container {
    margin: auto;
    max-width: 75rem;
}



main.search {
    min-height: calc(100vh - 18.75rem);
}

.footer {
    padding: 1rem;
    text-align: center;
}

.footer p {
    margin-top: .3rem;
    font-size: .9rem;
}

.footer .chevron-logo svg {
    fill: #fafafa;
    width: 8rem;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: .0625rem solid #aaa;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.search-form .btn {
    padding: .3rem;
    font-size: 0;
    background-color: transparent;
    border-color: transparent;
}

.search-form .btn svg {
    margin: 0;
    height: 1.2rem;
    width: 1.2rem;
    fill: #134601;
}

.search-form .btn:hover,
.search-form .btn:focus {
    background-color: #670000;
    border-color: #670000;
}

.search-form .btn:hover svg,
.search-form .btn:focus svg {
    fill: #fafafa;
}